.spacing {
    margin: 5px;
    
}

.nav-action-container {
    margin: 20px auto; 
    width:90%; 
}

.contact-grid {
    display:grid;
    margin: 20px auto; 
    width:90%; 
    overflow: auto;
    max-height: 80vh;
}